{% extends 'admin/master.html' %}
{% block body %}


{% if current_user.is_authenticated %}
<h1 class="text-center text-success">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ!!</h1>
<h2 class="text-center text-info">Chào {{ current_user.name }}!</h2>


<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let data = [];
    let labels = [];


    {% for s in stats %}
      data.push({{s[2]}})
      labels.push('{{s[1]}}')
    {% endfor %}


    window.onload = function() {
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: '# So luong',
            data: data,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
</script>
{% else %}
<h1 class="text-center text-success">ĐĂNG NHẬP QUẢN TRỊ</h1>
<form method="post" action="/admin/login">
    <!--    #post để mật khẩu đảm bảo an toàn thông tin riêng tư-->
    <!--    #action là nơi mà nó gửi đến-->
    <div class="mb-3 mt-3">
        <label for="username" class="form-label">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
        <!--      name='username' là cái giá trị lát nữa nó quăng lên server-->
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Mật khẩu:</label>
        <input type="password" class="form-control" id="pwd" name="password" placeholder="Mật khẩu">
        <!--      #name='password' là cái giá trị lát nữa nó quăng lên server-->
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}
{% endblock %}