<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BÁN HÀNG TRỰC TUYẾN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <form class="d-flex" method="get" action="/">
                <input class="form-control me-2" type="text" name="kw" placeholder="Nhập từ khóa...">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>

<section class="container" style="background: #a1c9f1">
    <div class="row">
        {% for c in products %}
        <div class="col-xs-12 col-md-3" style="padding: 5px">
            <div class="card">
                <div style="display: flex; justify-content: center">
                    <img class="card-img-top" style="width:200px; height: 200px" src="{{ c.image }}" alt="Card image">

                </div>
                <!--                <img class="card-img-top" style="width:200px; height: 200px" src="{{ c.image }}" alt="Card image">-->
                <div class="card-body">
                    <h4 class="card-title">{{ c.name }}</h4>
                    <p class="card-text">{{ c.prices }}</p>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                    <a href="#" class="btn btn-danger">Xem Chi Tiết</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<footer>
    <div class="text-center p-3" style="background-color: #efb0c9;">
        © 2020 Copyright:
        <a class="text-danger" href="#">Nguyễn Thị Mỹ Vân</a>
    </div>
</footer>
</body>
</html>