{% extends 'layout/base.html' %}

{% block content %}

<section class="container" style="background: #a1c9f1">
    <div class="row">
        {% for c in products %}
        <div class="col-xs-12 col-md-3" style="padding: 5px">
            <div class="card">
                <div style="display: flex; justify-content: center">
                    <img class="card-img-top" style="width:200px; height: 200px" src="{{ c.image }}" alt="Card image">

                </div>
                <!--                <img class="card-img-top" style="width:200px; height: 200px" src="{{ c.image }}" alt="Card image">-->
                <div class="card-body">
                    <h4 class="card-title">{{ c.name }}</h4>
                    <p class="card-text">{{ c.prices }}</p>
                    <a href="#" class="btn btn-primary">Mua Ngay</a>
                    <a href="#" class="btn btn-danger">Xem Chi Tiết</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination mt-1" style="display: flex; justify-content: center">
        {% for a in range(pages) %}
        <li class="page-item"><a class="page-link" href="/?page={{ a + 1 }}">{{ a + 1 }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
