{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-info mt-1">ĐĂNG KÝ TÀI KHOẢN NGƯỜI DÙNG</h1>

<form method="post" enctype="multipart/form-data" action="">
  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Tên người dùng:</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Tên người dùng">
  </div>
    <div class="mb-3 mt-3">
    <label for="username" class="form-label">Tên đăng nhập:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd" name="password" placeholder="Mật khẩu">
  </div>
    <div class="mb-3">
    <label for="confirm" class="form-label">Xác nhận mật khẩu:</label>
    <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Xác nhận mật khẩu">
  </div>
  {% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}
    <div class="mb-3">
    <label for="avatar" class="form-label">Ảnh đại diện:</label>
    <input type="file" class="form-control" id="avatar" name="avatar" >
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
  </div>
</form>
{% endblock %}